__pycache__/
*.pyc
.DS_Store

# virtual environments
venv/
.venv/

# packaging / build artifacts
dist/
build/
*.egg-info/

# test, coverage, cache
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# editor settings
.idea/
.vscode/
